html {
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: auto;
  }
.ramsay {
    width: 60%;
}